<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Get contact on the ruby on rails tutorial at the <a href="www.rubytutorial.org/contact">contact page</a>.
  To get contact see <a href="www.rubytutorial.org/book"><em>ruby on rails</em>
  book</a>
</p>