<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the ruby on rails tutorial at the <a href="www.rubytutorial.org/#help">Rails tutorial help section</a>.
  To get help see <a href="www.rubytutorial.org/book"><em>ruby on rails</em>
  book</a>
</p>